<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Vishwa Dharam</title>
    
    <!-- Bootstrap and Bootswatch United Theme -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/United.css" asp-append-version="true" />
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/vishwadharam.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning shadow-sm">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/iconbg.png" height="48" width="48"/>
                    Vishwa Dharam Ashram
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-warning text-light pt-4">
        <div class="container">
            <div class="row">
                <!-- NGO Logo and Hours of Operation -->
                <div class="col-md-4">
                    <img src="~/images/iconbg.png" height="52" width="52" alt="NGO Logo" class="img-fluid mb-3">
                    <h5>Ashram Hours</h5>
                    <p>Monday - Friday: 9:00 AM - 4:30 PM</p>
                    <p>Saturday - Sunday: Closed</p>
                </div>

                <!-- Contact Information -->
                <div class="col-md-4">
                    <h5>Contact Information</h5>
                    <p><strong>Phone:</strong> 083 564 0004</p>
                    <p><strong>Email:</strong> baboo@reprodesigns.co.za</p>
                    <p><strong>Address:</strong> 5 Winton Crescent, Westville, 3629 South Africa</p>
                </div>

                <!-- Social Media Links -->
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <a href="https://facebook.com/yourNGO" target="_blank" class="btn btn-outline-light me-2 mb-2">
                        @* <i class="fa-brands fa-facebook-f"></i> *@
                        <img src="~/images/icons/facebook.png" height="24" width="24" />
                    </a>
                    <a href="https://x.com/yourNGO" target="_blank" class="btn btn-outline-light me-2 mb-2">
                        @* <i class="fa-brands fa-square-x-twitter"></i> *@
                        <img src="~/images/icons/twitter.png" height="24" width="24" />
                    </a>
                    <a href="https://instagram.com/yourNGO" target="_blank" class="btn btn-outline-light mb-2">
                        @* <i class="fa-brands fa-instagram"></i> *@
                        <img src="~/images/icons/instagram.png" height="24" width="24" />
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <p class="mb-0">© 2024 Vishwa Dharam Ashram - All Rights Reserved</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <!-- Toast Notification -->
    @await Component.InvokeAsync("Notyf")
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
